// @use "../../common/values.scss";





// These would usually be imported from a common values file
// TO DO: Move them
////////////////////////////////////////////////////////////

$small-medium-width: 414px;
$medium-large-width: 600px;

@mixin small-screen {
    @media (max-width: #{$small-medium-width - 1px}) {
      @content;
    }
}

@mixin medium-screen {
    @media (min-width: #{$small-medium-width}) and (max-width: #{$medium-large-width - 1px}) {
      @content;
    }
}

@mixin large-screen {
    @media (min-width: #{$medium-large-width}) {
      @content;
    }
}

///////////







.product-list {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 10px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;


    .product-list__item-container {

        // remove list styling
        list-style-type:none;
        margin: 0;
        padding: 0;
        
        flex-shrink: 0;
        flex-grow: 0;

        
        @include small-screen {
            flex-basis: 100%;
            min-width: 250px;
        }

        @include medium-screen {
            flex-basis: 50%;
            min-width: 50%;
        }

        @include large-screen {
            flex-basis: 33%;
            min-width: 33%;
        }



        .product-list__item {

            margin: 0 10px 20px;
            @include small-screen { margin: 0 0 20px 0; }
            
            overflow: hidden;
            border-radius: 3px;
            box-shadow: 0 3px 6px rgba($color: #000, $alpha: 0.1);


            .product-list__item-details {
                box-sizing: border-box; // Note: If this doesn't meet browser compatibility requirements, then I'd subtract padding size in width;
                width: 100%;
                padding: 1em 1.5ch;
                margin: 0;

                text-align: left;
                background-color: rgba($color: #FFF, $alpha: 0.9);

                position: relative; // included for absolutely positioned children

                h3, p {
                    margin-top: 0em;
                    margin-bottom: 0.5em;
                }

                h3 {
                    font-size: 1em;
                }
                p {
                    font-size: 0.8em;
                }


                .product-list__price {
                    position: absolute;
                    top: -1em;
                    right: 0;
                    background-color: #333;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    padding: 0.3em 2ch;
                    font-size: 1em;
                    color: #FFF;
                }
            }


            



            .product-list__thumbnail-container {
                overflow: hidden;

                @include small-screen {
                    height: 90vw;
                }
        
                @include medium-screen {
                    height: 40vw;
                }
        
                @include large-screen {
                    height: 26vw;
                    max-height: 350px;
                }
            }

            

        }

    }
}