


.product-list__summaries {

    
    text-align: right;
    padding: 1em;
    background-color: #555;
    color: #FFF;
    border-radius: 3px;

    position: fixed;
    top: 0;
    right: 0;
    margin: 1em;
    z-index: 2;

    

    .summaries__label {
        font-size: 0.8em;
        font-weight: 400;
    }

    .summaries__value {
        font-size: 1em;
        font-weight: 600;
    }
    
}