

// Styling variables
////////////////////

$feature-color: #E56D83;


// Animation

$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);






// Responsivity variables
/////////////////////////

$small-medium-width: 414px;
$medium-large-width: 600px;


@mixin small-screen {
    @media (max-width: #{$small-medium-width - 1px}) {
      @content;
    }
}

@mixin medium-screen {
    @media (min-width: #{$small-medium-width}) and (max-width: #{$medium-large-width - 1px}) {
      @content;
    }
}

@mixin large-screen {
    @media (min-width: #{$medium-large-width}) {
      @content;
    }
}